@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
    background-color:#fdeff2;
}

/* black color : #383c3c; */
/* game board */

.circle {
    position: relative;
    color: #383c3c;
	margin: 1em auto;
	padding: 0;
	width: 30em; height: 30em;
	top: 100pt;
	border-radius: 50%;
	list-style: none;
    
}

.gameBoard{
    position: absolute;
    padding: 30px 30px 30px 30px;
    left: 150px;
    top: 130px;
    width: 200px;
    height: 200px;
    z-index: 10;
    background: #fddea5;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border:10px solid black;
}

.slice1 {
	overflow: hidden; /**/
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
	transform: rotate(-90deg) 
	skewY(0deg); 
    border: 5px solid black;
    border-top-style: none;
    border-right-style: none;
     
}

.slice2 {
	overflow: hidden; /**/
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
	transform: rotate(360deg) 
	skewY(0deg); 
    border: 5px solid black;
    border-top-style: none;
    border-right-style: none;
    
}

.slice3 {
	overflow: hidden; /**/
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
	transform: rotate(90deg) 
	skewY(0deg); 
    border: 5px solid black;
    border-top-style: none;
    border-right-style: none;
}


.slice4 {
	overflow: hidden; /**/
	position: absolute;
	top: 0; right: 0;
	width: 50%; height: 50%;
	transform-origin: 0% 100%; 
	transform: rotate(180deg) 
	skewY(0deg); 
    border: 5px solid black;
    border-top-style: none;
    border-right-style: none;
}

.red {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	background: #d7003a;
	text-align: center;
	transition: background-color .5s;
    border: 10px solid black;
    
}

.blue {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	background: #38a1db;
	text-align: center;
	transition: background-color .5s;
    border: 10px solid black;
}

.yellow {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	background: #ffec47;
	text-align: center;
	transition: background-color .5s;
    border: 10px solid black;
}


.green {
	position: absolute;
	left: -100%;
	width: 200%; height: 200%;
	border-radius: 50%;
	background: #68be8d;
	text-align: center;
	transition: background-color .5s;
    border: 10px solid black;
}

/* game function */
button {
    background-color:#f08300;
    padding: 10px 10px 10px 10px;
    border-style:none;
    border-radius: 20px;
    font-family: "Josefin Sans";
}